/*
 * --------------------------------------------------
 *  Config file for version
 * --------------------------------------------------
 */

manifest {
  name = 'QiuBio-nextflow/chipseq'
  author = 'Jianhong Ou'
  homePage = 'https://github.com/jianhong/chipseq'
  description = 'ChIP-seq peak-calling and differential analysis pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10'
  version = '1.1.8'
}
